html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: sans-serif;
}

body > *,
body > * > .billboard {
	padding: 4rem 0;
}

body > * > .billboard:not(:last-child) {
	margin-bottom: 2rem;
}

p, ul, ol {
	line-height: 1.5em;
	margin: 0 0 2rem 0;
}

ul > li::before {
	content: '\e049';
	font-family: icon;
	font-size: .75em;
	padding: 0 1rem 0 0;
	vertical-align: top;
}

:last-child {
	margin-bottom: 0;
	margin-right: 0;
}
